<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.spring.bean.Address" id="addrId">
		<property name="houseno" value="172" />
		<property name="city" value="indore" />
		<property name="pincode" value="45771" />
	</bean>

	<bean class="com.spring.bean.Student" id="stdId">
		<property name="rollno" value="101" />
		<property name="name" value="Bhanu" />
		<property name="address" ref="addrId" />
	</bean>

</beans>